*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    padding: 0 35px;
    margin: 0 305px;
    display: flex;
    flex-flow: column wrap;
    color: rgba(0,0,0,.87);
}

.teachers{
    margin-bottom: 2rem;
}

.teachers > .head{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.25rem;
    padding-left: 1rem;
    height: 4.5rem;
    border-bottom: 1px solid rgb(95,99,104);
}

.teachers h2{
    color: rgb(32,33,36);
    fill: rgb(32,33,36);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.teachers > .head > .buttom{
    padding: 0.5rem 1.5rem 0 0;
    margin-bottom: -0.25rem;
}

.teachers i{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.teachers > .body{
    color: rgba(0,0,0,.87);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.teachers > .body> .teacher{
    height: 3.75rem;
    padding: 0.5rem;
}

.teachers > .body> .teacher > .profile{
    padding: 0 0.5rem;
    text-align: center;
    
    max-height: 75px;
    max-width: 75px;
    vertical-align: middle;
}

.teachers > .body> .teacher .profile_image{
    border-radius: 50px;
}

.teachers > .body> .teacher > .name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0.5rem;
    max-width: 30rem;
    letter-spacing: .01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}  

.students > .head{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.25rem;
    padding-left: 1rem;
    height: 4.5rem;
    border-bottom: 1px solid rgb(95,99,104);     
}

.students h2{
    color: rgb(32,33,36);
    fill: rgb(32,33,36);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.students > .body{
    color: rgba(0,0,0,.87);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
}

.students > .body> .student{
    height: 3.75rem;
    padding: 0.5rem;
    border-bottom: 0.0625rem solid #e0e0e0;
}

.students > .body> .student > .profile{
    padding: 0 0.5rem;
    text-align: center;
    
    max-height: 75px;
    max-width: 75px;
    vertical-align: middle;
}

.students > .body> .student .profile_image{
    border-radius: 50px;
}

.students > .body> .student > .name{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0.5rem;
    max-width: 30rem;
    letter-spacing: .01785714em;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
}  

.students > .body> .draw-body{
    color: rgba(0,0,0,.87);
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    display: flex;
    justify-content: center;
}

.students > .body > .draw-body > .draw{
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.students > .body > .draw-body > .draw> svg{
    height: 8.4375rem;
    margin-top: 6.25rem;
    margin-left: auto;
    margin-right: auto;
}


.students > .body > .draw-body > .draw> p{
    letter-spacing: .01785714em;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #3c4043;
    margin-top:20px;
}

.students > .body > .draw-body > .draw> button{
    font-size: .875rem;
    font-weight: 500;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 64px;
    border: none;
    outline: none;
    line-height: inherit;
    user-select: none;
    overflow: visible;
    vertical-align: middle;
    background: transparent;
    top: 50%;
    height: 48px;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.students > .body > .draw-body > .draw> button > span{
    color: #566b8f;
    margin-top: 20px;
    margin-right: 4px;
}