* {
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}
.nav-left-class {
  display: flex;
  width: 20%;
  height: 10vh;
}
.nav-right-class {
  display: flex;
  width: 20%;
  height: 10vh;
  justify-content: flex-end;
  margin-right: 2%;
  gap: 20px;
}
.nav-middle-class {
  display: flex;
  width: 60%;
  height: 20vh;
  margin-left: 20%;
}
.middle-title {
  display: flex;
  font-size: large;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 7.6%;
  padding-bottom: 5%;
  width: 25%;
  height: 25%;
  cursor: pointer;
}
.middle-title:hover {
  background-color: rgb(95, 99, 104, 0.1);
}
.middle-title:active {
  border-bottom: 5px solid black;
  border-radius: 10px;
}

.nav-middle-class {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-left: 0;
}

.mainHeader {
  width: 100%;
  height: 20rem;
  background-color: aquamarine;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding: 0 2rem;
}

.stream-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 20rem;
  margin-bottom: 5rem;
}

.stream-item {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

.stream-item {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.stream-item h2 {
  margin: 0;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  flex: 100%;
}

.stream-item p {
  margin: 0;
  color: #666;
  font-size: 14px;
  flex: 100%;
}

.stream-item p.post-published {
  margin: 0;
  color: #999;
  font-size: 12px;
  flex: 100%;
}

#pic2 {
  height: 2rem;
  width: 2rem;
  background-color: #bbb;
  border-radius: 50%;
  margin-top: 0.5rem;
}
